.back_button {
    cursor: pointer;
    padding: 10px 20px;
    /* Button padding */
    background-color: #ffffff;
    /* Button background color */
    color: rgb(0, 0, 0);
    /* Button text color */
    border: none;
    /* No border */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 20px;
    /* Button font size */
    font-family: 'Raleway';
    /* Button font */
    margin-top: 40px;
    margin-left: 60px;
    /* Space between button and image */
    width: 120px;
    /* Fixed width for the button */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    /* Button shadow */
    transition: background-color 0.3s, color 0.3s;
    /* Button hover effects */
}

.back_button:hover {


    background-color: #80568D;
    color: #ffffff;
}

.palette_cover_page {
    display: flex;
    /* Enable Flexbox */
    justify-content: center;
    /* Horizontally center the image */
    align-items: center;
    /* Vertically center the image (optional) */
    margin: 50px;
    /* Add margin around the entire container */
}

.palette_cover_page img {
    width: 1250px;
    /* Set the image width */
    height: auto;
    /* Keep the aspect ratio */
}


h1 {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
    /* Ensure the text is centered in the h1 */
}

.url-container {
    display: flex;
    justify-content: center;
    /* Horizontally centers the content */
    align-items: center;
    /* Vertically centers the content */
    height: 3vh;
    /* Full viewport height */
}

.url {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #040506;
    text-decoration: underline;
    word-wrap: break-word;
    padding: 1px;

    max-width: 100%;
    display: inline-block;
    transition: all 0.3s ease;
}

/* Optional hover effect */
.url:hover {
    color: #64148f;
    cursor: pointer;


}




.Palette_information .palette_info {

    text-indent: 100px;
    font-family: 'Rambla', sans-serif;
    /* Sets a clean, modern font */
    font-size: 25px;
    /* Adjust the font size */
    font-weight: 100px;
    /* Add space between lines for readability */
    color: #333;


}

h2 {
    display: flex;
    font-family: 'Rambla', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.role {
    font-size: 25px;
    margin-top: 0px;
    color: #333333;
    font-family: 'Rambla', sans-serif;

}