body {
    background-color: #E5E7FF;
    margin: 0px;
    padding: 0px;

}

.top {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 3px;
    display: flex;
    justify-content: center;
    background-color: #E5E7FF;
    margin-top: 130px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 70px;



}

.top-container {
    display: flex;
    flex-direction: column;
    /* Stacks the image and button container vertically */
    align-items: center;
    /* Centers both the image and buttons */
    text-align: center;
    padding: 30px;
}


.highlight {
    color: #787373;

}

.container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    margin-top: 90px;
}

.headshot {
    width: 450px;
    height: auto;

    margin-bottom: 20px;


}



.about {
    max-width: 689px;
    max-height: 350px;
    margin-left: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

}


.extra-bold-title {
    margin-top: 10px;
    font-family: 'Sonsie One', cursive;
    font-size: 50px;
    text-align: left;

    margin-bottom: 20px;

    margin-left: 30px;


}

.about .about-bio-one {



    font-family: 'Raleway', sans-serif;

    color: #000000;
    font-size: 18px;
    margin-left: 30px;

}

.about .about-bio-two {


    font-size: 20px;
    font-family: 'Raleway', sans-serif;

    color: #000000;
    font-size: 18px;
    margin-left: 30px;

}

.about .about-bio-three {


    font-size: 20px;
    font-family: 'Raleway', sans-serif;

    color: #000000;
    font-size: px;
    margin-left: 30px;

}

.button-container {
    display: flex;
    gap: 50px;
    /* Adds space between the buttons */
    justify-content: center;
    /* Centers buttons within the container (optional) */
    align-items: center;
    margin-bottom: 10px;
}


.linkedin-button,
.resume-button {
    margin: 0;

    padding: 10px 20px;
    /* Adjust padding if necessary */
    background-color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    font-family: "Raleway";
    height: 46px;
    width: 194px;

    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-decoration: underline;
}



.linkedin-button:hover {
    background-color: #80568D;
    color: #ffffff;
}

.resume-button:hover {
    background-color: #80568D;
    color: #ffffff;
}


.banner {
    display: flex;
    width: 80%;
    margin-top: 200px;
    max-width: 1200px;

    height: 65px;
    margin: 0 auto;

    background: linear-gradient(to right, #80568d, #edd4f4);
    font-size: 40px;
    font-family: "Raleway";
    font-weight: 700;
    text-align: center;
    color: hsl(0, 0%, 100%);
    align-items: center;

    justify-content: center;

    padding: 0 20px;

}

.banner p {
    margin: 0;
    line-height: 65px;

}

.mycatyayy {
    margin-left: 10%;

    margin-top: 5%;
}


.about {
    margin-bottom: 90px;

}

.banner {
    margin-bottom: 30px;

}

.project-wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    /* Example: light gray background */
    padding: 20px;
    /* Add padding to create space around content */
    border-radius: 10px;
    /* Optional: add rounded corners */
    opacity: 20;
}

.project-section {
    display: flex;
    /* Use flexbox for the section */
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center items horizontally */
    margin-top: 30px;
    /* Center items vertically if needed */
    padding: 20px;
    /* Padding around the section */
    text-align: center;
    /* Center all text */



}


.projects {
    display: flex;
    /* Flexbox for project items */
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
    gap: 60px;
    /* Space between project items */
    margin-bottom: 20px;
    /* Space below projects for learn more text */



}

.room_cover {
    max-width: 100%;
    /* Ensure images scale properly */
}

.project-item {
    display: flex;
    /* Use flexbox for the project item */
    flex-direction: column;
    /* Stack image and button vertically */
    align-items: center;
    /* Center-align image and button */
    text-align: center;
    /* Center text */
}

.project-button {
    cursor: pointer;
    /* Pointer cursor on hover */
    padding: 10px 20px;
    /* Button padding */
    background-color: #ffffff;
    /* Button background color */
    color: rgb(0, 0, 0);
    /* Button text color */
    border: none;
    /* No border */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 20px;
    /* Button font size */
    font-family: 'Raleway';
    /* Button font */
    margin-top: 20px;
    /* Space between button and image */
    width: 351px;
    /* Fixed width for the button */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    /* Button shadow */
    transition: background-color 0.3s, color 0.3s;
    /* Button hover effects */
}

.project-button:hover {


    background-color: #80568D;
    color: #ffffff;
}

.learn_more {
    margin-top: 60px;
    /* Space above the learn more text */
    margin-bottom: 20px;
}

.learn-more-link {

    /* Space above the learn more text */
    font-family: 'Raleway';
    /* Font for learn more text */
    font-size: 25px;
    /* Font size for learn more text */
    text-align: center;
    /* Right-align the text */
    width: 100%;
    color: #000000;

}

.learn-more-link:hover {
    text-decoration: underline;
    cursor: pointer;

    color: #7700ff;

}


.learn_more {
    margin-top: 5px;
    /* Space above the learn more text */
    font-family: 'Raleway';
    /* Font for learn more text */
    font-size: 25px;
    /* Font size for learn more text */
    text-align: center;
    /* Right-align the text */
    width: 100%;
    /* Full width to allow alignment */


}



.palette_cover_page img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.Palette_information_title {

    font-size: 50px;
    font-family: "Rambla";

    color: #000000;



}

.Palette_information {
    margin-left: 200px;
    margin-right: 150px;
    margin-top: 60px;

}




.Palette_information .palette_info {

    font-size: 20px;
    font-family: "Rambla";

    color: #000000;
    font-size: 20px;



}

h2 {
    font-size: 30px;
    font-family: "Rambla";
}



.role {
    font-size: 18px;

    color: #333333;
    font-family: 'Rambla', sans-serif;

}

h3 {
    font-size: 30px;
    font-family: "Rambla";
}

.Design_Section {
    margin-left: 200px;
    margin-right: 150px;
    margin-top: 60px;

}

.Design_title {
    font-size: 50px;
    font-family: "Rambla";

    color: #000000;
}

h4 {
    font-size: 30px;
    font-family: "Rambla";
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #80568D;
    padding: 1rem 2rem;
    font-family: "Rambla";


}

.navbar-name a {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Sonsie One', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    list-style: none;

}

.navbar-links li {
    display: inline-block;
    margin-left: 1.5rem;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.navbar-links a:hover {
    color: #c37eff;
}

.personal_art-section {
    margin-top: 80px;
}