body {
    background-color: #E5E7FF;
    margin: 0px;
    padding: 0px;

}

.top {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 3px;
    display: flex;
    justify-content: center;
    background-color: #E5E7FF;
    margin-top: 130px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 70px;



}

.top-container {
    display: flex;
    flex-direction: column;
    /* Stacks the image and button container vertically */
    align-items: center;
    /* Centers both the image and buttons */
    text-align: center;
    padding: 30px;
}


.highlight {
    color: #787373;

}

.container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    margin-top: 90px;
}

.headshot {
    width: 450px;
    height: auto;

    margin-bottom: 20px;


}



.about {
    max-width: 689px;
    max-height: 350px;
    margin-left: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

}


.extra-bold-title {
    margin-top: 10px;
    font-family: 'Sonsie One', cursive;
    font-size: 50px;
    text-align: left;

    margin-bottom: 20px;

    margin-left: 30px;


}

.about .about-bio-one {



    font-family: 'Raleway', sans-serif;

    color: #000000;
    font-size: 18px;
    margin-left: 30px;

}

.about .about-bio-two {


    font-size: 20px;
    font-family: 'Raleway', sans-serif;

    color: #000000;
    font-size: 18px;
    margin-left: 30px;

}

.about .about-bio-three {


    font-size: 20px;
    font-family: 'Raleway', sans-serif;

    color: #000000;
    font-size: px;
    margin-left: 30px;

}

.button-container {
    display: flex;
    gap: 50px;
    /* Adds space between the buttons */
    justify-content: center;
    /* Centers buttons within the container (optional) */
    align-items: center;
    margin-bottom: 10px;
}


.linkedin-button,
.resume-button {
    margin: 0;

    padding: 10px 20px;
    /* Adjust padding if necessary */
    background-color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    font-family: "Raleway";
    height: 46px;
    width: 194px;

    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-decoration: underline;
}



.linkedin-button:hover {
    background-color: #80568D;
    color: #ffffff;
}

.resume-button:hover {
    background-color: #80568D;
    color: #ffffff;
}


.banner {
    display: flex;
    width: 80%;
    margin-top: 200px;
    max-width: 1200px;

    height: 65px;
    margin: 0 auto;

    background: linear-gradient(to right, #80568d, #edd4f4);
    font-size: 40px;
    font-family: "Rambla";
    text-align: center;
    color: hsl(0, 0%, 100%);
    align-items: center;

    justify-content: center;

    padding: 0 20px;

}

.banner p {
    margin: 0;
    line-height: 65px;

}

.mycatyayy {
    margin-left: 10%;

    margin-top: 5%;
}


.about {
    margin-bottom: 90px;

}

.banner {
    margin-bottom: 80px;

}

.project-section {
    text-align: center;
    /* Centers all content */
    padding: 20px;
    align-items: center;
    justify-content: center;
}


.projects {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 60px;


}

.room_cover {
    max-width: 100%;
    /* Makes sure images scale properly */
    align-items: center;

}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* center-aligns image and button horizontally */
    justify-content: center;
    /* center-aligns items vertically */
    text-align: center;

}



.project-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Rambla';
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
    border: none;
    width: 351px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.project-button:hover {
    background-color: #80568d;

    color: #ffffff;

}

.project-button-back {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Rambla';
    margin-top: 20px;
    margin-left: 40px;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    width: 105px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}





.palette_cover_page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin-top: 50px;
    margin-left: 200px;
}

.palette_cover_page img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.Palette_information_title {

    font-size: 50px;
    font-family: "Rambla";

    color: #000000;



}

.Palette_information {
    margin-left: 200px;
    margin-right: 150px;
    margin-top: 60px;

}




.Palette_information .palette_info {

    font-size: 20px;
    font-family: "Rambla";

    color: #000000;
    font-size: 20px;



}

h2 {
    font-size: 30px;
    font-family: "Rambla";
}



.role {
    font-size: 18px;

    color: #333333;
    font-family: 'Rambla', sans-serif;

}

h3 {
    font-size: 30px;
    font-family: "Rambla";
}

.Design_Section {
    margin-left: 200px;
    margin-right: 150px;
    margin-top: 60px;

}

.Design_title {
    font-size: 50px;
    font-family: "Rambla";

    color: #000000;
}

h4 {
    font-size: 30px;
    font-family: "Rambla";
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #80568D;
    padding: 1rem 2rem;
    font-family: "Rambla";


}

.navbar-name a {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Sonsie One', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    list-style: none;

}

.navbar-links li {
    display: inline-block;
    margin-left: 1.5rem;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.navbar-links a:hover {
    color: #c37eff;
}